@font-face {
    font-family: 'Nexa Script Semi';
    src: url('../fonts/NexaScript-SemiBold.eot');
    src: url('../fonts/NexaScript-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NexaScript-SemiBold.woff2') format('woff2'),
    url('../fonts/NexaScript-SemiBold.woff') format('woff'),
    url('../fonts/NexaScript-SemiBold.ttf') format('truetype'),
    url('../fonts/NexaScript-SemiBold.svg#NexaScript-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nexa Script Semi' !important
}
img{
    width: 100%;
}
.btn{
    outline: none!important;
    box-shadow:none!important;
}
button:focus{
    outline: none!important;
    box-shadow:none!important;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand img{
    width: 135px;
}
.navbar-top{
    display: flex;
    align-items: center;
    padding: 20px 0px;

    position: relative;
    z-index: 1;
}

.navbar-head{
    background-image: url(../img/bg/head-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    padding: 0;
    margin: 0;
}
.navbar-brand h2 {
    font-size: 30px;
    display: inline-block;
    padding: 0;
    margin: 0 0 -15px 12px;
}
.navbar-brand h2 span {
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #bd8a1d , #f5d975, #cb9e33);
    -webkit-text-fill-color: transparent;
    color: #cb9e33;
}
.btn.gradient{
    height: 46px;
    padding: 0 10px;
    border-radius: 28px;
    background-image: linear-gradient(to right, #bd8a1d , #f5d975, #cb9e33);
    color: #bf1919;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 21px;
}
.btn.border-gradient{
    color: #bf1919;
    width: 30px;
    height: 30px;
    padding: 0;
    position: relative;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
    font-size: 26px;
}
.btn.border-gradient::after {
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    z-index: -1;
    border-radius: 50%;
}
form.search-form{
    position: relative;
    border-radius: 28px;
    margin-top: 22px;
    font-family: Arial;
}
form.search-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    outline: none;
}
form .search-input{
    height: 50px;
    background: none;
    border: none;
    outline: none;
    background: white;
    border-radius: 25px;
    padding: 0 10px;
}
form.search-form::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    z-index: -1;
    border-radius: 36px;
}
.search-form .button{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ffffff;
    background-image: url(../img/bg/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 12px;
    top: 11px;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border: 0;
}
.register.btn{
    margin-right: 10px;
}
.register-q.btn{
    margin-right: 20px;
    position: relative;
}

.login.btn{
    width: 100px;
    margin-right: 20px;
}

.navbar-collapse .nav-item{
    padding: 2px 10px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #f6f6f6 , #929292, #f6f6f6, #929292);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 130px;
    position: relative;
}
.nav-link {
    display: block;
    padding: 0.3rem 1rem;
}
.navbar-collapse .nav-item::after {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(to bottom right, #a9a9a9, #ffffff, #a9a9a9, #ffffff);
    z-index: -1;
    border-radius: 30px;
}
.navbar-collapse .nav-item a{
    color: #be1919;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.navbar-nav{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
   background-image: url(../img/bg/bg-nav.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid;
    border-image-source: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    border-image-slice: 1;
}
.navbar-nav:before{
    content: "";
    background-image: url(../img/bg/border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    left: 0;
    width: 100px;
    height: 72px;
    top: -5px;
}
.navbar-nav:after{
    content: "";
    background-image: url(../img/bg/border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    right: 0;
    width: 100px;
    height: 72px;
    top: -5px;
    transform: scale(-1, 1)
}
.list-poems{
    padding: 0 0;
}
.list-poems li{
    padding: 0;
    list-style: none;
    text-align: center;
}
.main-block-poems{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/bg-gold.png);
    background-size: contain;
    background-repeat: no-repeat;
}

main{
    position: relative;
    padding: 20px 0;
}
.block-poems{
    min-height: 100vh;
    padding: 40px 0;
    background: linear-gradient(to  right, #bd8a1d , #f5d975 60%, #cb9e33);
    border: 4px solid;
    border-image-source: linear-gradient(to bottom right, #cb9e33 , #fffeb6, #cb9e33);
    border-image-slice: 1;
    position: relative;
}

main:before{
    content: "";
    background-image: url(../img/bg/main-border-l.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 152px;
    height: 152px;
    top: 0;
}
main:after{
    content: "";
    background-image: url(../img/bg/main-border-r.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    width: 152px;
    height: 152px;
    top: 0;
}
.list-poems li a{
    color: #000000;
    font-size: 20px;
    line-height: 49px;
    display: flex;
    flex-direction: column;
}
.list-poems li a.active{
    color: #bf1919;
}
.block-poems:after{
    content: "";
    background-image: url(../img/bg/list-border-b.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -18px;
    width: 120px;
    height: 120px;
    bottom: -32px;
}
.block-poems:before{
    content: "";
    background-image: url(../img/bg/list-border-t.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -18px;
    width: 120px;
    height: 120px;
    top: -18px;
}
.list-poems{
    position: relative;
}
.list-poems:before{
    content: "";
    background-image: url(../img/bg/stars-top.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 31%;
    width: 110px;
    height: 40px;
    top: -59px;
}
.top-r-block{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.poems-item{
    display: block;
    width: 556px;
    height: 214px;
    padding: 60px 30px 0 30px;
    position: relative;
    background-image: url(../img/bg/poems-border.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
.poems-item-title{
    font-size: 22px;
    margin: 0 0 12px 59px;
}
.poems-item p{
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
}
.more-this-poems{
    position: absolute;
    bottom: -12px;
    right: 35px;
    background: linear-gradient(to right, #bd8a1d , #f5d975, #cb9e33);
    padding: 2px 15px;
    font-size: 16px;
    border-radius: 15px;
    color: #000000;
}
.pagination-poems{
    position: absolute;
    bottom: 119px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    align-items: center;
}
.pagination{
    padding: 0;
    margin: 0 5px;
}
.pagination li{
    list-style: none;
    margin: 0 5px;
}
form.pagination-form{
    display: flex;
    align-items: center;
}
form.pagination-form input{
    background: #ffffff;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 15px;
    width: 100px;
    margin: 0 0;
    font-size: 12px;
}
form.pagination-form button{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: none;
    background-image: url(../img/bg/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border: 0;
}
.pagination-item{
    color: #000000;
}
.pagination-item.active{
    color: #be1919;
}
.border-l{
    position: relative;
}
.border-l:before{
    content: "";
    background-image: url(../img/bg/border-l.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0px;
    width: 4px;
    height: 75px;
    top: 5px;
}
.more-block-poems{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/bg/bg-poems.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 26px;
    position: relative;
}
.more-block-poems::after {
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    z-index: -1;
    border-radius: 26px;
}
.more-block-poems-item{
    width: 100%;
    height: 788px;
    background-image: url(../img/bg/heart.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 127px 0 0 0;
    justify-content: center;
}
.poem{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.poem-block{
    text-align: center;
    margin-bottom: 7px;
    font-size: 18px;
}
h2.poem-title{
    margin-bottom: 80px;
    text-align: center;
}
.poem-body{
    position: relative;
}
.poem-body:before {
    content: "";
    background-image: url(../img/bg/poems-t.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    top: -53px;
}
.poem-body:after {
    content: "";
    background-image: url(../img/bg/poems-b.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 60px);
    width: 120px;
    height: 60px;
    bottom: -66px;
}
.listen-audio{
    width: 430px;
    height: 215px;
    background-image: url(../img/bg/bg001.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listen-audio h3, .share-block h3{
    font-size: 24px;
    text-align: center;
}
.share-block h3{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.share-block{
    padding: 40px 38px 0 38px;
    width: 430px;
    height: 417px;
    background-image: url(../img/bg/bg002.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.circle-gold{
    position: relative;
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.circle-gold .add-friend{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #0CC10C;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    font-family: Arial;
    left: -10px;
}
.chat-block.right .add-friend{
    right: -10px;
    left: inherit;
}


.circle-gold.play{
    background-image: url(../img/bg/play.png);
}
.circle-gold.paused{
    background-image: url(../img/bg/play.png);
}
.circle-gold.playing{
    background-image: url(../img/bg/playing.png);
}
.circle-gold.mail{
    background-image: url(../img/bg/mail.png);
}
.circle-gold.email{
    background-image: url(../img/bg/email.png);
}
.circle-gold.call{
    background-image: url(../img/bg/call.png);
}
.poem-link{
    display: flex;
    align-items: center;
}
.share-block .poem-link{
    margin-right: 30px;
    margin-bottom: 20px;
}
.share-block a{
    font-size: 25px;
    text-align: center;
    color: #000000;
}

 .modal-box{
     margin: auto ;
     margin-top: 30vh;
    width: 340px;
    padding: 20px 10px 36px 10px;
    background: #ffffff;
    position: relative;
    border-radius: 26px;
}

.modal-box:before{
    content: "";
    background-image: url(../img/bg/gradient-heart.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -19px;
    width: 50px;
    height: 50px;
    top: -27px;
}
 .modal-box:after{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    z-index: -1;
    border-radius: 26px;
}
.modal-input-b{
    position: relative;
    border-radius: 5px;
    z-index: 1;
    margin: 0 0 0 0;
}
.modal-input-b::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    z-index: -1;
    border-radius: 5px;
}
.modal-input{
    background: none;
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
    height: 30px;
}
.title-modal{
    font-size: 22px;
    text-align: center;
    margin: 0 0 6px 0;
}
.modal-box .circle-gold{
    width: 70px;
    height: 70px;
}
.modal-box form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-box form button.btn{
    padding: 2px 5px;
    position: absolute;
    bottom: 20px;
    right: 23px;
    height: auto;
    font-size: 14px;
    color: #000000;
}

.form-input-b{
    position: relative;
    border-radius: 5px;
    z-index: 1;
    margin: 0 0 0 0;
}
.form-input-b::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    z-index: -1;
    border-radius: 15px;
}
.form-control{
    display: flex;
}
.form-control-input{
    background: none;
    border: none;
    outline: none;
    background: white;
    border-radius: 15px;
    padding: 2px 10px;
    width: 300px;
    height: 46px;
    font-size: 22px;
}
main.bg-hearts{
    background-image: url(../img/bg/bg-hearts.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.block-gold-border {
    margin: auto;
    width: 400px;
    padding: 20px 10px 20px 10px;
    background: #ffffff;
    position: relative;
    border-radius: 15px;
    margin-bottom: 10px;
}
.block-gold-border.with-heart:before{
    content: "";
    background-image: url(../img/bg/with-heart.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -50px;
    width: 70px;
    height: 70px;
    top: 38%;
}
.block-gold-border:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    z-index: -1;
    border-radius: 15px;
}
.form-control{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.form-control span{
    font-size: 22px;
    margin-right: 10px;
}
.registration .btn.gradient{
   margin: auto;
    color: #000000;
    font-size: 22px;
    padding: 5px 15px;
}
.block-gold-title{
    margin: 20px 0;
}
.block-gold-body{
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block-gold-body .circle-gold{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.block-gold-border.success{
 width: 460px;
}
.block-gold-border.success .btn.gradient{
    padding: 5px 40px;
    color: #000000;
    font-size: 22px;
}
.form-control.a-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.text-center.d-flex{
    align-items: center;
    justify-content: center;
}
.form-input{
    margin-bottom: 5px;
}

input[type="radio"] {
    display:none;
}

/* The label is what's left to style.
As long as its 'for' attribute matches the input's 'id', it will maintain the function of a radio button. */
label.check-label {
    padding: 10px 56px;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 18px;
}

.blank-label {
    display: none;
}

/* The '+' is the adjacent sibling selector.
It selects what ever element comes right after it,
as long as it is a sibling. */
.form-input input[type="radio"]:checked + label {
    background-image: linear-gradient(to right, #bd8a1d 40%, #f5d975, #cb9e33);
    color: #000000;
}
.form-input input[type="radio"] + label {
background: #ddd;
    color: #000000;
}


.form-input-01 input[type="radio"]:checked + label {
    background-image: linear-gradient(to right, #bd8a1d 40%, #f5d975, #cb9e33);
    color: #be1919;
}
.form-input-01 input[type="radio"] + label {
    background-image: linear-gradient(to right, #bd8a1d 40%, #f5d975, #cb9e33);
    color: #000000;
}
.form-input-02 input[type="radio"]:checked + label {
    background:#be1919;
    color: #000000;
}
.form-input-02 input[type="radio"] + label {
    background-image: linear-gradient(to right, #bd8a1d 40%, #f5d975, #cb9e33);
    color: #000000;
}
.form-input-02  label.check-label {
    padding: 8px 29px;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
}

.span-d{
    padding-left: 20px;
    display: block;
    width: 100%;
    text-align: left;
}
.form-control-input.date{
    width: 160px;
}
.form-input-b.date{
    margin-right: 10px;
}
.form-control-input.time{
    width: 120px;
}
input::placeholder{
    font-family: Arial;
}

.block-gold-border.player:after{
    z-index: 0;
    border-radius: 35px;
}
.block-gold-border.player .player-block{
    width: 100%;
    background: white;
    z-index: 6;
    position: relative;
    border-radius: 35px;
}
.audio-player__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
}
.audio-player__container .file-path {
    display: none;
}
.audio-player__container .play-btn__container {
    width: 100px;
}
.audio-player__container .play-btn__container .text {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.audio-player__container .play-btn__container .text p {
    display: inline;
    width: 30px;
    margin: 0 auto;
    font-size: 12px;
    text-transform: uppercase;
    color: #444;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.audio-player__container .play-btn__container .text p.play {
    text-align: right;
    color: #b84546;
}

.audio-player__container .play-btn__container .toggle .rectangle {
    width: 6px;
    height: 38px;
    margin: 0 auto;
    background-color: #b84546;
}

.audio-player__container .scrubber__container {
    width: 100%;
    position: relative;
    padding: 0 12px;
}
.audio-player__container .scrubber__container .dial {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to right, #bd8a1d , #f5d975 60%, #cb9e33);
}
.audio-player__container .scrubber__container .time-start {
    position: absolute;
    top: 12px;
    padding: 0;
    margin: 0;
    left: 12px;
}
@media screen and (max-width: 600px) {
    .audio-player__container .scrubber__container .time-start.hide {
        visibility: hidden;
    }
}
.audio-player__container .scrubber__container .time-end {
    position: absolute;
    top: 12px;
    padding: 0;
    margin: 0;
    right: 24px;
}
@media screen and (max-width: 600px) {
    .audio-player__container .scrubber__container .time-end.hide {
        visibility: hidden;
    }
}
.audio-player__container .scrubber__container .scrubber__time--top {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.audio-player__container .scrubber__container .scrubber__time--top p {
    display: inline;
    margin: 0;
}
.audio-player__container .scrubber__container .scrubber__time--top p:after {
    content: '';
    display: block;
    width: 8px;
    height: 3px;
    background-color: #424242;
    margin: 0 auto;
    opacity: 0.35;
}
@media screen and (max-width: 600px) {
    .audio-player__container .scrubber__container .scrubber__time--top .hide {
        visibility: hidden;
    }
}
.audio-player__container .scrubber__container .scrubber__time--bottom {
    text-align: center;
    width: 80%;
    margin: 0 10%;
}




.audio-player__container .scrubber__container .scrubber__scrubber--outer {
    width: 100%;
}
.audio-player__container .scrubber__container .scrubber__scrubber--outer .scrubber__scrubber {
    width: calc(100% - 14px);
    height: 6px;
    background-image: linear-gradient(to right , #929292, #f6f6f6, #929292 , #ffffff);}
.block-gold-border.player{
    margin: 20px auto;
    padding: 0;
    border-radius: 35px;
}
.player-block-title{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    display: block;
    border: 4px solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-image-source: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    border-image-slice: 1;
}
.circle-gold.toggle{
    margin: 0;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 66px;
   margin: 20px auto;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: -7px;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
    border: 6px solid;
    border-image-source: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    border-image-slice: 1;
}



/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: -14px;
    top: -23px;
    width: 80px;
    height: 71px;
    background: url(../img/bg/check.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-block{
    margin: 30px auto 30px auto;
    text-align: center;
    font-size: 26px;
}
.btns{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns .btn{
    color: #000000;
    padding: 0 50px;
    border-radius: 15px;
    font-size: 20px;
}
.pay-block{
    margin: 45px 0;
    width: 100%;
    display: flex;
 padding: 12px 10px;
    background-image: url(../img/bg/pay-border.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.pay-block h4{
    margin: 0;
    text-align: center;

}
.btn.gradient.pay{
    width: 200px;
    margin: 20px auto;
    color: #000000;
    font-size: 20px;
}
.password-block {

}
.password-input{
    background-image: url(../img/bg/password.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 64px;
    display: flex;
}
.password-input input{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 360px;
    padding: 10px;
    font-size: 20px;
}
.form-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-friends{
    width: 400px;
    background-image: url(../img/bg/fiend-border.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 110px;
    display: flex;
    padding: 10px 13px;
    margin-bottom: 28px;
}
.block-friends .circle-gold{
    width: 90px;
    height: 90px;
}
.btns.content-r{
    justify-content: left;
    position: sticky;
    top: 20px;
    z-index: 99;
}
.block-friends .btn{
    height: 36px;
    padding: 0 20px;
    color: #000000;
margin-right: 10px;
    margin-top: 11px;
}
.block-friends h4{
    margin: 0;
}
.circle-gold.user {
    background-image: url(../img/bg/user.png);
}


.scrollbar
{
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scrollbar:before{
    width: 4px;
    height: 200%;
    background: linear-gradient(to bottom, #bd8a1d , #f5d975 60%, #cb9e33);
position: absolute;
    right: 0;
    top: 0;
    content: "";
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: none;
    padding-left: 10px;
    border-radius: 10px;
    width: 10px;
    background-image: linear-gradient(to bottom , #f6f6f6 , #929292, #f6f6f6, #929292);
}

.scrollbar::-webkit-scrollbar
{
    width: 20px;
    background: none;
}

.scrollbar::-webkit-scrollbar-thumb
{
    background: linear-gradient(to right, #bd8a1d , #f5d975 60%, #cb9e33);
    border-radius: 10px;
    -webkit-box-shadow: none;
}
.scrollbar.border-top{
    border: 4px solid;
    border-image-source: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    border-image-slice: 1;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 2px;
}
.btn.with-border{
    width: 146px;
    background-image: url(../img/bg/btn-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 40px;
    display: flex;
    padding: 5px 13px;
    margin:0 10px;
    justify-content: center;
}
.chat-block{
display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 20px 5px 20px;
}
.chat-block.right{
    justify-content: flex-end;
}

.chat-block .chat-text {
    padding: 1px;
    position: relative;
    border-radius: 15px;
    z-index: 1;
}
.chat-block .chat-text p{
    padding: 34px 30px;
    background: #ffffff;
    border-radius: 27px;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    display: flex;
}
.chat-block .chat-text:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    z-index: -1;
    border-radius: 27px;
}
.chat-user{
    margin-right: 10px;
}
.chat-user .circle-gold{
    margin: 0;
    width: 60px;
    height: 60px;
}
.chat-user h5{
    margin: 0;
}
.chat-block.right .chat-user{
    margin-right: 0px;
    margin-left: 10px;
}
#chat.scrollbar{
    height: 300px;
}

.send-message{
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.send-message .textarea {
    padding: 1px;
    position: relative;
    border-radius: 15px;
    z-index: 1;
}
.send-message .textarea textarea{
    background: #ffffff;
    border-radius: 27px;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    width: 100%;
    outline: none;
    padding: 0 15px;
}
.send-message .textarea:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: 5px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
    z-index: -1;
    border-radius: 27px;
}
.send-message .btn.gradient {
    height: 33px;
    padding: 0 20px;
    border-radius: 28px;
    color: #000000;
    font-size: 20px;
  margin: 0 0 0 10px;
}
#forum.scrollbar{
    min-height: 84vh;
}
.send-message.border-top {
    padding-top: 10px;
    border-top: 4px solid !important;
     border-image-source: linear-gradient(to bottom right, #bd8a1d , #f5d975, #cb9e33);
     border-image-slice: 1;
     border-bottom: 0;
     border-left: 0;
     border-right: 0;
    border-top: 4px solid !important;
 }
.more-block-poems.more-block-poems-with-padding{
    padding-left: 20px;
    padding-right: 20px;
}
.create-block{
    width: 100%;
    min-height: 70vh;
    border: 3px solid #bd8a1d ;
    border-radius: 20px;
    border-style: dashed;
    display: flex;
    justify-content: center;
}

.create-body{
    width: 600px;
    height: 800px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.btn.create-btn{
    color: #000000;
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 20px;
    height: auto;
    width: 190px;
    flex-direction: column;
}
.create-btn input{
    border: none;
    box-shadow: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
}

.form-input-01{
    display: flex;
    justify-content: space-between;
}
.form-price{
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.form-inf{
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.form-price input{
    border: 3px solid #bd8a1d ;
    border-radius: 18px;
    padding: 7px 20px;
    outline: none;
    box-shadow: none;
    background: none;
}
.form-price h3{
  min-width: 180px;
}
input.no-border {
    border: 1px solid #bd8a1d;
    border-radius: 18px;
    padding: 5px 15px;
    outline: none;
    box-shadow: none;
    background: #ffffff;
    width: 160px;
}
.form-inf input{
    border: 3px solid #bd8a1d ;
    border-radius: 18px;
    padding: 7px 20px;
    outline: none;
    box-shadow: none;
    background: none;
    width: 100%;
}
ul.btns li.btn{
    display: contents;
}
ul.btns li.btn .nav-link.active {
    color: #be1919;
    background-image: linear-gradient(to right, #bd8a1d , #f5d975, #cb9e33);
   border: none;
}
ul.btns li.btn .nav-link {
    color: #000000;
    background-image: linear-gradient(to right, #bd8a1d , #f5d975, #cb9e33);
    border: none;
    padding: 5px 25px;
    border-radius: 15px;
}
.nav-tabs {
    border-bottom:none;
}
.more-text{
    position: absolute;
    right: 0;
    bottom: 0;
    border: 3px solid #bd8a1d;
    border-radius: 18px;
    padding: 3px 10px;
    font-size: 16px;
    background: #ffffff;
    display: none;
}
.register-q:hover .more-text{
    display: block;
}
.last-inf{
    border: 1px solid #bd8a1d;
    border-radius: 18px;
    padding: 3px 10px;
    font-size: 16px;
    background: #ffffff;
    margin: 0 auto;
}